<!DOCTYPE html>
<html>
<head>
	<title>mobileNgTable sample</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
	
	<script src="jquery-mobile-angular-adapter-standalone.js"></script> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" />
	<script src="../lib/mobileNgTable.js"></script>
	<link rel="stylesheet" href="footable/footable.core.css"/>
	<script src="footable/footable.js" ></script>
	<script src="footable/footable.sort.js" ></script>
	<script src="footable/footable.filter.js" ></script>
	<script src="sample.js"></script>
</head>

<body data-ng-app="sampleApp">
    <div id="page" data-role="page" data-ng-controller="sampleController">
	<h2 ng-if="contatos.length > 0">::ngComponents - Table</h2>
	<div class="table-responsive">
	<mobile-ng-table ng-if="contatos.length > 0" load-Repeat="contatosNgTable"></mobile-ng-table>
	</div>
    </div>
</body>

</html>
